<section id="contact">
    <h3>Contact Me</h3>
    <form (submit)="submitForm($event)">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
      
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      
      <button type="submit">Send</button>
    </form>
    <div class="contact-info">
      <p class="contact-info"><b>Address: </b>Toronto, Ontario, Canada</p>
      <p class="contact-info"><b>Phone:</b> +1-6479153524</p>
      <p class="contact-info"><b>Email: </b>Kalyanipawde@gmail.com</p>
    </div>
  </section>
  
