<section id="about">
    <h3>About</h3>
    <div>      
      <p> Dynamic Business Analyst with over 10 years of experience in different domains like Telecom, Banking and Agro-chemical Industries, specializing in end-to-end business analysis activities.</p>
      <p>Proficient in gathering, analyzing data, and translating business requirements into user stories for development teams. Proven track record of managing projects and collaborating with cross-functional teams to design, implement, and optimize solutions to meet business values and business rules.</p>
      <p>Seeking to leverage expertise in project management, stakeholder engagement, and process improvement to drive organizational success. Fluent in Deutsch, Hindi and English,currently learning French.</p>
     </div>
  </section>
  