<header>
    <nav>
      <a href="#about">About</a>
      <p><a href="#skills">Skills</a></p>
      <p><a href="#awards">Awards</a></p>
      <p><a href="#experience">Experience</a></p>
      <p><a href="#education">Education</a></p>
      <a href="#contact">Contact</a>
    </nav>
    <div class="profile">
      <h1>{{ profile.name }}</h1>
      <p>{{ profile.title }}</p>
      <img [src]="profile.image" alt="Profile" >     
    </div>
    <div class="social-links">
      <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#twitter"><i class="fab fa-twitter"></i></a>
      <a href="#linkiden"><i class="fab fa-linkedin-in"></i></a>
      <a href="#google"><i class="fab fa-google-plus-g"></i></a>
    </div>
  </header>
  