header {
    text-align: right;
    background: url('https://thumbs.dreamstime.com/b/agile-software-development-methodology-concept-virtual-screen-digital-technology-big-data-flexible-developing-process-robotic-170014896.jpg') no-repeat center center/cover;
    padding: 40px;
    color: #fff;
  }
  
  nav {
    margin-bottom: 20px;
    padding-bottom:50px;
    font-size: 1.4em;
}
  
  nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .profile img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    align-content : left;
  }
  
  .profile h1 {
    margin: 10px 0 5px;
    font-size: 2.5em;
    text-align: right;
  }
  
  .profile p {
    font-size: 1.2em;
    text-align: right;
  }
  
  .social-links a {
    margin: 0 5px;
    color: #fff;
    font-size: 1.5em;
  }
  