<section id="awards">
    <h3>Awards and Acheivements</h3>
    <div class="degree">
        <ul>
          <li>Received recognition with the <b><i>Pat on Back</i></b> award for exceptional flexibility and significant contributions to the project</li>
          <li>Awarded twice with <b><i>Bravo Award</i></b> for going an extra mile and outstanding performance </li>
          <li>Recognized as <b><i>Top Agile Methodologies Voice 2024</i></b> on LinkedIn</li>
        </ul>
    </div> 
  
</section>

