<section id="skills">
    <h3>Technical Skills</h3>
    <ul>
      <li><b>Programming Languages:</b> Java, JavaScript, PL/SQL, .NET, C#, Python</li>
      <li><b>Tools: </b>MS Visual Studio, Oracle TOAD, Ruby Mine, Eclipse, MS SQL Studio, Peoplesoft 
        Vantive, Oracle Forms and Reports, SOAP UI, Google Workspace, Microsoft office (Access, Excel, PowerPoint, and Word), Microsoft Azure DevOps, Jira, Confluence, Visio, Figma
        </li>
      <li><b>Server:</b> Tomcat, Oracle WebLogic </li>
      <li><b>Version Control:</b> IBM Rational ClearCase, Git, SVN </li>
      <li><b>Project Management Methodologies:</b> Waterfall, Agile - Scrum, SAFe, Kanban, TDD</li>      
    </ul>
  </section>
  
