<section id="experience">
    <h3>Work Experience</h3>
    <div class="job">
        <h4>Senior Business Analyst</h4>
        <p>First National Financial</p>
        <p>Mar 2024 – Present</p>
        <ul>
          <li>Led cross-functional teams in the collection and thorough documentation of business requirements, transforming into precise functional specifications to drive the development of cutting-edge solutions, ultimately increasing customer satisfaction by 25%</li>	
          <li>Engaged with key stakeholders through interviews and workshops, gathering essential information to create process redesign documentation, optimizing team communication and increased project efficiency by 30%</li>	
          <li>Produced and maintained test artifacts, such as use cases, BRDs, test plans, and test cases, contributing to a 30% reduction in software defects</li>	
          <li>Implementing project management tools, monitoring backlog refinement to streamline processes and enhance team collaboration, resulting in a 15% increase in productivity</li>	
          <li>Demonstrated ability to effectively monitor project progress, leading design sessions to increased productivity and reduced costs on multiple projects by 10%</li>	
        </ul>
    </div>
    <div class="job">
        <h4>IT Analyst</h4>
        <p>Agrolab</p>
        <p>Nov 2019 – July 2023</p>
        <ul>
          <li>Actively participated in defining project scope, goals, directing the analysis and design of web applications, aligning with business objectives; optimized performance and reduced loading time by 40%, resulting in a 30% increase in user engagement</li>
          <li>Implementing project management best practices and methodologies, resulting in a 20% improvement in project efficiency and client satisfaction</li>
          <li>Applied Agile methodologies to streamline project workflows, resulting in 30% productivity growth</li>
          <li>Conducted quality assurance measures, validating the usability and performance of the web application, resulting in a 20% increase in user retention</li>          
        </ul>
    </div>
    <div class="job">
      <h4>Senior Business Analyst</h4>
      <p>TechMahindra Ltd</p>
      <p>Jan 2014-Oct 2019</p>
      <ul>
       <li>Spearheaded full project lifecycle management, partnered closely with development team, executed use case in user Acceptance Testing (UAT); guided product release and manual testing phases, resulting in on-time launch with zero critical defects </li>
       <li>Supervised the successful implementation of an automation system, resulting in a 20% increase in customer retention and a 15% decrease in response time, focusing on attention to detail</li>
        <li>Streamlined project planning, risk assessment, and change management processes, ensuring a seamless execution that garnered 100% stakeholder satisfaction and achieved project objectives on time and within budget</li>
        <li>Orchestrated seamless collaboration with cross-functional Scrum teams, productively deliver high-quality products ahead of schedule, driving customer satisfaction and achieving 95% on-time project delivery</li>
      </ul>
  </div>
   
  
