<section id="experience">
    <h3>Work Experience</h3>
    <div class="job">
        <h4>Software Quality Engineer/Analyst</h4>
        <p>PTCL,Pakistan</p>
        <p>November 2017 - April 2019</p>
      <p class="job-description">Developed automated test scripts with Selenium, reducing testing time by 30%. Identified and tracked bugs using ADO, collaborating with developers for fixes. Enhanced QA processes in Agile environments and improved software quality. Communicated test status and risks effectively via Microsoft Teams.</p>
    </div>
    <div class="job">
        <h4>Junior Software Developer Intern</h4>
        <p>PTCL,Pakistan</p>
        <p>June 2013 - August 2013</p>
      <p class="job-description">Shadowed Sr Developer in planning ,writing and debugging web applications and software with complete
        accuracy and assisted in modifying the functionalities of the websites as per client request.</p>
    </div>
   
  
